#!/usr/bin/env python
PACKAGE = "perception"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#Gen Add (NAME, Datatype, Bitmask LEVEL, Description, Default Value, Min Value, Max Value)
gen.add("mean_k", double_t, 0, "Number of Neighbors to Search", 50, 10, 200)
gen.add("std_dev_multiplier_thresh", double_t, 0, "Standard Deviation Multiplier", 1.0, 0.1, 5.0)

exit(gen.generate(PACKAGE, "perception", "StatRemove"))